.item__delete-img {
  padding: 0;
  position: absolute;
  top: 20px;
  right: 20px;
  background-image: url('../../../images/trash.svg');
  background-color: transparent;
  background-repeat: no-repeat;
  background-position: center;
  border: none;
  min-width: 18px;
  min-height: 19px;
  transition: opacity .3s ease-out;
  background-size: cover;
}

.item__delete-img:hover {
  cursor: pointer;
  opacity: 0.6;
}